<% if @conversions.present? %>
<h1 class="d-flex justify-content-center">My conversions</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Amount</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Result</th>
        <th scope="col">Date</th>
        <th scope="col">Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @conversions.reverse.each_with_index do |conversion, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= conversion.amount %></td>
          <td><%= conversion.from_currency %></td>
          <td><%= conversion.to_currency %></td>
          <td><%= conversion.result %></td>
          <td><%= l(conversion.date, format: :long) %></td>
          <td><%= link_to '', conversion_path(conversion), class: "fa fa-trash trash-icon text-danger", method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1 class="d-flex justify-content-center">You don't have any conversions yet.</h1>
<% end %>