<div class="container d-flex flex-column align-items-center justify-content-center">
  <div class="converter">
    <div class="first-part d-flex my-3 justify-content-center">
    <% @conversions = Conversion.where(user: current_user) || [] %>
      <%= simple_form_for @conversion do |f| %>
        <%= f.input :amount, label: false, required: true, as: :text, input_html: { class: 'amount', value: (@conversions.empty?)? 0 : @conversions.last.amount.round(2) } %>
        <div class="d-flex justify-content-center">
          <%= f.input :from_currency, label: false, collection: ['USD', 'EUR', 'CHF'], selected: @conversions.last.from_currency || 'USD' , input_html: { class: 'currency' }, include_blank: false %>
        </div>
        <div class="small-3 columns">
          <%= button_tag type: 'submit', class: "button postfix border-0 button-mine" do %>
            <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="d-flex justify-content-center my-3">
          <%= f.input :to_currency, label: false, collection: ['EUR', 'CHF','USD'], selected: @conversions.last.to_currency || 'EUR', input_html: { class: 'currency'}, include_blank: false %>
        </div>
      <% end %>
    </div>
    <div class="second-part">
      <p class="result"><%= (@conversions.empty?)? 0 : @conversions.last.result.round(2) %></p>
    </div>
  </div>
</div>
 